!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet',href='css/jquery.dataTables.css')
    script(src='/js/jquery.js')
    script(src='/js/jquery.dataTables.js')
    script(src='/js/initBody.js')
    script(src='/src/DataTables.js')
  body(onload=initBody)
    div.container
        nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
          .container
              .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") IS218 Project
              .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#contact") Contact
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#") Srihari Rao

        div(class="container col-md-4 col-lg-4 col-sm-4")
            div.well.col-lg-9.col-md-9.col-sm-9
                h3 Questions
                ul
                    a(href='/question1') Question 1
                    br
                    a(href='/question2') Question 2
                    br
                    a(href='/question3') Question 3
                    br
                    a(href='/question4') Question 4
                    br
                    a(href='/question4') Question 5
                    br
                    a(href='/question6') Question 6
                    br
                    a(href='/question7') Question 7
                    br
                    a(href='/question8') Question 8
                    br
                    a(href='/question9') Question 9
                    br
                    a(href='/question10') Question 10
                    br
                    a(href='/question11') Question 11
                    br
                    a(href='/question12') Question 12
        div(class-"col-md-8 col-lg-8 col-sm-8")
            block content