!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='css/bootstrap.css')

    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.js')
  body
    block content