extends bootstrap

block content
    h1 Colleges.
    h3 Ranked by % increase in Liabilities
    h4 From 2010-2011
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th College Name
                    th Total Liabilities 2010
                    th Total Liabilities 2011
                    th % increase in Liabilities
            tbody
            each college, i in question11
                tr
                    td #{college.instName}
                    td #{college.totLiabs10}
                    td #{college.totLiabs11}
                    td #{college.deltaLiabs}


