extends bootstrap

block content
    h1 Colleges.
    h3 Ranked by Total Liabilities (descending)
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th University ID
                    th Year
                    th College Name
                    th Total Liabilities
            tbody
            each college, i in question2
                tr
                    td #{college.UNITID}
                    td #{college.YEAR}
                    td #{college.INSTNM}
                    td #{college.F1A13}


