extends bootstrap

block content
    h1.
        Colleges
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th University ID
                    th College Name
                    th Total Liabilities
            tbody
            each college, i in question2
                tr
                    td #{college.UNITID}
                    td #{college.INSTNM}
                    td #{college.F1A13}


