extends bootstrap

block content
    h1.
        Colleges
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th University ID
                    //th College Name
                    th Enrollment
            tbody
            each college, i in univs
                tr
                    td #{college.UNITID}
                    //td #{college.INSTNM}
                    td #{college.EFYTOTLT}


